@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastrar Entrada no Estoque";

    List<ListarFuncionarioViewModel> Funcionarios = ViewBag.Funcionarios;
    List<ListarMedicamentoViewModel> Medicamentos = ViewBag.Medicamentos;
}

@model CadastrarEntradaViewModel;

<body>
    <form class="card border border-secondary shadow-sm mx-auto p-4" style="max-width: 620px;"
          asp-action="CadastrarEntrada" method="post">
        <div class="mb-3 d-flex flex-column">
            <label asp-for="Funcionario"
                   class="form-label fw-semibold text-uppercase small mt-3 fs-4">Funcionario</label>
            <select asp-for="Funcionario" class="form-control fs-5">
                <option value="">Selecione um Funcionario</option>
                @foreach (ListarFuncionarioViewModel f in Funcionarios)
                {
                    <option value="@f.Id">
                        @f.Nome
                    </option>
                }
            </select>
            <span asp-validation-for="Funcionario" class="text-danger small fw-semibold"></span>
        </div>
        <div class="mb-3 d-flex flex-column">
            <label asp-for="Medicamento"
                   class="form-label fw-semibold text-uppercase small mt-3 fs-4">Medicamento</label>
            <select asp-for="Medicamento" class="form-control fs-5">
                <option value="">Selecione um Medicamento</option>
                @foreach (ListarMedicamentoViewModel f in Medicamentos)
                {
                    <option value="@f.Id">
                        @f.Nome
                    </option>
                }
            </select>
            <span asp-validation-for="Medicamento" class="text-danger small fw-semibold"></span>
        </div>
        <div class="">
            <label asp-for="Quantidade" class="form-label fw-semibold text-uppercase small mt-3 fs-4">Quantidade da
                Entrada
            </label>
            <input asp-for="Quantidade" type="number" min="1" class="form-control fs-5">
            <span asp-validation-for="Quantidade" class="text-danger small fw-semibold"></span>
        </div>
        <div class=" d-flex justify-content-end gap-2 mt-4">
            <a class="btn btn-outline-primary rounded-pill px-4" asp-action="Listar">Voltar</a>
            <button class="btn btn-primary rounded-pill px-4" type="submit">Confirmar</button>
        </div>
    </form>
</body>